# ASSESSING AND CLEANING THE ZENTEL NETWORK SERVICE TICKET DATASET

## by members of the DATA ARCHIVES

### INTRODUCTION

This is data from a Zentel Network Service center.

Every day, customers log their different types of complaints across their branches and expect
quick responses and resolutions to their queries.

Some of these customers have a Service level agreement with the Network service provider to
resolve their daily queries within a particular average duration.

This service center has different Managers and operators looking into the customers' issues and
Performance can be measured weekly and daily.



Here's a link to the description of the different vaiables in the dataset https://github.com/PauloDaguvnor/DataFest-Datathon-Materials/blob/main/Datathon%20Casestudy.pdf

### DATA ASSESSING AND CLEANING

In [6]:
import pandas as pd

zentel = pd.read_excel('Zentel Network Service Ticket Data (1).xlsx')

In [7]:
zentel.head()

,Report ID,Report Channel,Customer Name,State Key,Ticket Open Time,Ticket Resp Time,Issue Res Time,Fault Type,Operator,Ticket Close Time,Ticket Status,Business Status
0,AXA-20201231-1101-WLESS,CH01,Access,NGS001,2020-12-31 17:07:04,2020-12-31 17:10:20,2020-12-31 20:44:42,NaN,Tunde,,Active,Open
1,AXA-20201230-1102-WLESS,CH01,Access,NGS001,2020-12-30 19:04:06,2020-12-30 19:13:18,2020-12-30 19:46:30,Customers End,Sekina,2021-01-01 13:27:17,Completed,Closed
2,AXA-20201229-1103-WLESS,CH01,Access,NGS001,2020-12-29 18:28:04,2020-12-29 18:37:52,2020-12-29 20:10:11,Customers End,Sherifat,2020-12-30 13:20:43,Completed,Closed
3,AXA-20201229-1104-HSE,CH01,Arik,NGS002,2020-12-29 14:49:16,2020-12-29 14:58:23,2020-12-29 16:03:56,Line damage,Kingsley,2020-12-29 21:34:31,Completed,Closed
4,AXA-20201231-1105-HSE,CH01,Arik,NGS003,2020-12-31 21:43:03,2020-12-31 21:47:39,2020-12-31 22:20:58,Customers End,Kola,2021-01-02 06:54:01,Completed,Closed

In [8]:
zentel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5998 entries, 0 to 5997
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Report ID          5998 non-null   object
 1   Report Channel     5998 non-null   object
 2   Customer Name      5998 non-null   object
 3   State Key          5998 non-null   object
 4   Ticket Open Time   5998 non-null   datetime64[ns]
 5   Ticket Resp Time   5998 non-null   datetime64[ns]
 6   Issue Res Time     5998 non-null   datetime64[ns]
 7   Fault Type         5472 non-null   object
 8   Operator           5998 non-null   object
 9   Ticket Close Time  5998 non-null   object
 10  Ticket Status      5998 non-null   object
 11  Business Status    5998 non-null   object
dtypes: datetime64[ns](3), object(9)
memory usage: 562.4+ KB

We observed that there were missing value in the 'Fault Type' column. 

After assessing it properly using Microsoft excel, we observed that most times the fault issues reported through the same channel, the same state and approximately at the same time were the same so we filled up the **N/A** values using this insight we've gained.

The changes were made right there in Microsoft excel in order to save time but here is the cleaned dataset below

In [9]:
zentel_cleaned  = pd.read_excel('Zentel Network Service Ticket Data cleaned.xlsx')

In [10]:
zentel_cleaned.head()

,Report ID,Report Channel,Customer Name,State Key,Ticket Open Time,Ticket Resp Time,Issue Res Time,Fault Type,Operator,Ticket Close Time,Ticket Status,Business Status
0,AXA-20201231-1101-WLESS,CH01,Access,NGS001,2020-12-31 17:07:04,2020-12-31 17:10:20,2020-12-31 20:44:42,Customers End,Tunde,,Active,Open
1,AXA-20201230-1102-WLESS,CH01,Access,NGS001,2020-12-30 19:04:06,2020-12-30 19:13:18,2020-12-30 19:46:30,Customers End,Sekina,2021-01-01 13:27:17,Completed,Closed
2,AXA-20201229-1103-WLESS,CH01,Access,NGS001,2020-12-29 18:28:04,2020-12-29 18:37:52,2020-12-29 20:10:11,Customers End,Sherifat,2020-12-30 13:20:43,Completed,Closed
3,AXA-20201229-1104-HSE,CH01,Arik,NGS002,2020-12-29 14:49:16,2020-12-29 14:58:23,2020-12-29 16:03:56,Line damage,Kingsley,2020-12-29 21:34:31,Completed,Closed
4,AXA-20201231-1105-HSE,CH01,Arik,NGS003,2020-12-31 21:43:03,2020-12-31 21:47:39,2020-12-31 22:20:58,Customers End,Kola,2021-01-02 06:54:01,Completed,Closed

Now, the next thing we changed was the datatypes of one of the columns

In [12]:
zentel_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5998 entries, 0 to 5997
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Report ID          5998 non-null   object
 1   Report Channel     5998 non-null   object
 2   Customer Name      5998 non-null   object
 3   State Key          5998 non-null   object
 4   Ticket Open Time   5998 non-null   datetime64[ns]
 5   Ticket Resp Time   5998 non-null   datetime64[ns]
 6   Issue Res Time     5998 non-null   datetime64[ns]
 7   Fault Type         5998 non-null   object
 8   Operator           5998 non-null   object
 9   Ticket Close Time  5998 non-null   object
 10  Ticket Status      5998 non-null   object
 11  Business Status    5998 non-null   object
dtypes: datetime64[ns](3), object(9)
memory usage: 562.4+ KB

There isn't any more null values

The rest of the work was done using **MICROSOFT POWER-BI**